version: '3.9'
services:
  api-gateway:
    build: ../api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - redis
    environment:
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - clinic-network

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    networks:
      - clinic-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ../api-gateway/prometheus/prometheus-docker.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9091:9090"
    networks:
      - clinic-network

  grafana:
    image: grafana/grafana:latest
    depends_on:
      - prometheus
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ../api-gateway/grafana/data:/var/lib/grafana
      - ../api-gateway/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ../api-gateway/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - clinic-network

  auth-service:
    build: ../auth-service
    ports:
      - "8081:8081"
    depends_on:
      postgres-auth:
        condition: service_healthy
    environment:
      DB_URL: jdbc:postgresql://postgres-auth:5432/clinic_auth
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      JAVA_TOOL_OPTIONS: >
        -Dspring.flyway.enabled=true
        -Dspring.jpa.hibernate.ddl-auto=none
    networks:
      - clinic-network

  postgres-auth:
    image: postgres:16
    environment:
      POSTGRES_DB: clinic_auth
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d clinic_auth" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5433:5432"
    volumes:
      - pgdata_auth:/var/lib/postgresql/data
    networks:
      - clinic-network

  doctor-service:
    build: ../doctor-service
    ports:
      - "8082:8082"
    depends_on:
      postgres-doctor:
        condition: service_healthy
    environment:
      DB_HOST: postgres-doctor
      DB_PORT: 5432
      DB_NAME: doctordb
      DB_USER: postgres
      DB_PASSWORD: postgres
    networks:
      - clinic-network

  postgres-doctor:
    image: postgres:16
    environment:
      POSTGRES_DB: doctordb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d doctordb" ]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5436:5432"
    volumes:
      - pgdata_doctor:/var/lib/postgresql/data
    networks:
      - clinic-network

  patient-service:
    build: ../patient-service
    ports:
      - "8083:8083"
    depends_on:
      postgres-patient:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-patient:5432/clinic
      SPRING_DATASOURCE_USERNAME: clinic
      SPRING_DATASOURCE_PASSWORD: clinic
    networks:
      - clinic-network

  postgres-patient:
    image: postgres:16
    environment:
      POSTGRES_DB: clinic
      POSTGRES_USER: clinic
      POSTGRES_PASSWORD: clinic
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U clinic -d clinic" ]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - pgdata_patient:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - clinic-network

  appointment-service:
    build: ../appointment-service
    ports:
      - "8084:8084"
    depends_on:
      postgres-appointment:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-appointment:5432/clinic_appointment
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      PATIENT_SERVICE_BASE_URL: http://patient-service:8083
      DOCTOR_SERVICE_BASE_URL: http://doctor-service:8082
      NOTIFICATION_SERVICE_BASE_URL: http://notification-service:8086
      APPOINTMENT_CANCELLATION_CUTOFF_HOURS: 24
    networks:
      - clinic-network

  postgres-appointment:
    image: postgres:16
    environment:
      POSTGRES_DB: clinic_appointment
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d clinic_appointment" ]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - pgdata_appointment:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
            - clinic-network

  payment-service:
    build: ../payment-service
    ports:
      - "8085:8085"
    depends_on:
      postgres-payment:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-payment:5432/clinic_payment
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      MOMO_PARTNER_CODE: c:\Users\Hoangson Le\Workspace\IdeaProjects\clinic-booking-app\docker{MOMO_PARTNER_CODE:-}
      MOMO_ACCESS_KEY: c:\Users\Hoangson Le\Workspace\IdeaProjects\clinic-booking-app\docker{MOMO_ACCESS_KEY:-}
      MOMO_SECRET_KEY: c:\Users\Hoangson Le\Workspace\IdeaProjects\clinic-booking-app\docker{MOMO_SECRET_KEY:-}
    networks:
      - clinic-network

  postgres-payment:
    image: postgres:16
    environment:
      POSTGRES_DB: clinic_payment
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d clinic_payment" ]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - pgdata_payment:/var/lib/postgresql/data
    ports:
      - "5437:5432"
    networks:
      - clinic-network

  # notification-service:
  #   build: ../notification-service
  #   ports:
  #     - "8086:8086"
  #   networks:
  #     - clinic-network

networks:
  clinic-network:
    driver: bridge

volumes:
  pgdata_auth:
  pgdata_doctor:
  pgdata_patient:
  pgdata_appointment:
  pgdata_payment:
